h1
{
  font-family: 'Bungee Inline', cursive;
}

h2
{
font-family: 'Montserrat', sans-serif;
}

h3
{
  font-family: 'Lalezar', cursive;
  color: #0C9292;
}

h4
{
  font-family: 'Indie Flower';
}

.intro, .understand, .quiz, .exercise, .challenge, .external
{
  border-collapse: separate;
  border-style: groove;
  border-radius: 15px;
  border-width: 4px;
  border-color: #0D4D4D;
  padding: 30px;
}

.header
{
  margin-left: 0;
  padding-bottom: 70px;
}

.headerimage
{
   background-image: url(../images/headerimage.png);
   background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
   width: 1400px;
   padding-top: 80px;
}

.profile
{
  border-collapse: separate;
  border-style: groove;
  border-radius: 10px;
  border-width: 2px;
  border-color: blue;
  padding: 10px;
}
